<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngeeann.myinternship20">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".Main_UI_Staff"></activity>
        <activity android:name=".NPIS_StudentDataHome" />
        <activity android:name=".Student_Attendance" />
        <activity android:name=".Intern_Log" />
        <activity android:name=".Login_Setup" />
        <activity android:name=".Main_UI_NPIS" />
        <activity android:name=".Main_UI_Intern" />
        <activity android:name=".Main_UI_Student" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".Login_MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>